:root{
  --VeryDarkGrayBlue: hsl(217, 19%, 35%);
  --DesatDarkBlue: hsl(214, 17%, 51%);
  --GrayBlue: hsl(212, 23%, 69%);
  --LightGrayBlue: hsl(210, 46%, 95%);
  font-size:13px;
}

body{
  font-family: 'Manrope', sans-serif;
  color:var(--VeryDarkGrayBlue);
  background-color:var(--LightGrayBlue);
  }

.card{
  position: absolute;
  display:flex;
  flex-flow:row wrap;
  background-color:white;
  width: 327px;
  height: 512px;
  border-radius:10px;
  box-shadow: 10px 40px 75px -20px rgba(124, 124, 223, 0.2);
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

.front-image{
  display:block;
  width:100%;
  height:200px;
  object-fit:cover;
  object-position:0 20%;
  border-radius:10px 10px 0 0;
  margin-bottom: 2rem;
}

/*----------- Main Text ------------*/  

main{
  width:100%;
}

h3{
  font-size:1.2rem;
  font-weight:700;
  line-height:1.6;
  margin: 0 2.4rem 0.9rem;
}

p{
  color: var(--DesatDarkBlue);
  line-height:1.6;
  margin: 0 2.5rem 7.8rem;
}

/*----------- Contact ------------*/  

.contact{
  position:absolute;
  bottom:0;
  border-radius:0 0 10px 10px;
  height:60px;
  width:100%;
}

/*to add with JS
  transform-style: preserve-3d;
  transition: all 0.8s ease;
*/


/*--- Front ---*/  

.front{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  height:100%;
  width:100%;
  padding-bottom:1.5rem;
}

.avatar{
  display:inline-block;
}

.avatar img{
  margin: 0 1.2rem 0 2.6rem;
  width:3rem;
  border-radius:50%;
}

.info-wrapper{
  display:inline-block;
  min-width: 10rem;
}

.name{
  line-height: 1.5;
  font-weight:700;
}

.date{
  font-weight:500;
  line-height: 1.5;
  color: var(--GrayBlue);
}

.btnShare{
  display:inline-block;
  border-radius: 50%;
  background-color:var(--LightGrayBlue);
  width: 2.4rem;
  height: 2.4rem;
  margin-left:3.5rem;
  cursor: pointer;
}

.btnShare img{
  width:1.15rem;
}

/*--- Back ---*/

.back{
  display: flex;
  position:absolute;
  top:0;
  justify-content:space-evenly;
  align-items: center;
  height:100%;
  width:100%;
  border-radius:0 0 10px 10px;
  background-color:var(--VeryDarkGrayBlue);

  transform: scale(1);
  opacity: 1;
  transition: opacity 200ms linear;
}

/*--- Hidden Card ---*/

.hidden{
  opacity: 0;
  transform: scale(0.01);
}

.back h5{
  display:block;
  color:var(--GrayBlue);
  text-transform:uppercase;
  letter-spacing:5px;
  position:absolute;
  left:10%;
}

.icon-flex, .icon-wrapper, .btnShare {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  font-size: 1.3rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.icon-flex{
  position:absolute;
  left:33%;
}

.btnShare-back{
  border-radius: 50%;
  background-color:var(--DesatDarkBlue);
  width: 30px;
  height: 30px;
  position:absolute;
  right:10%;
  top:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share-icon path{
  height:100%;
  width:100%;
  fill:white;
}

/**********************----laptop&up----***********************/

@media (min-width:430px){
  .card{
    width: 730px;
    height:280px;
  }


  .front-image{
    width:39%;
    height:280px;
    border-radius:10px 0 0 10px;
    margin-bottom: 0;
  }

  main{
    width:61%;
    position: relative;
  }

  h3{
    font-size:1.57rem;
    line-height:1.45;
    margin: 2.5rem 2.7rem 0.9rem;
  }

  p{
    margin: 0 2.7rem 1rem;
  }

/*----------- Contact ------------*/  

  .contact{
    border-radius:0 0 10px 0;
    height:75px;
  }

/*--- Front ---*/ 

  .front{
    display:flex;
  }

  .avatar{
    height:100%;
    line-height:1;
  }

  .avatar img{
    margin: 0 1.5rem 0 3rem;
    width:3rem;
    border-radius:50%;
  }

  .info-wrapper{
    display:inline-block;
    min-width: 10rem;
    height:100%;
  }

  .name{
    line-height: 1.5;
    font-weight:700;
  }

  .date{
    font-weight:500;
    line-height: 1.5;
    color: var(--GrayBlue);
  }

  .btnShare{
    border-radius: 50%;
    background-color:var(--LightGrayBlue);
    width: 2.4rem;
    height: 2.4rem;
    position:absolute;
    right:9%;
    top:10%;
  }

  .btnShare img{
    width:1.15rem;
  }

/*--- Back ---*/ 

  .back{
    display: flex;
    position:absolute;
    top: -76px;
    left: 266px;
    height:4.2rem;
    width:19rem;
    border-radius:10px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.4);
  }

  .back::after{
    content:"";
    display:block;
    position:absolute;
    height:20px;
    width:20px;
    top:100%;
    left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color:var(--VeryDarkGrayBlue);
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.4);
  }

  .back h5{
    left:15%;
  }

  .icon-flex {
    left: 45.5%;
  }

  .btnShare-back{
    right:109px;
    top:83px;
    z-index: 1;
  }

}