.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(var(--background-paper), 0);
  font-family: var(--font-mono);
}

.footer > p {
  margin-bottom: 0.5rem;
}